services:
  openapi-server:
    image: swaggerapi/swagger-ui
    container_name: openapi-server
    ports:
      - "8080:8080"
    environment:
      SWAGGER_JSON: /specs/docker-engine-api.yaml
    volumes:
      - ./docker-engine-api-specs-v1.51.yaml:/specs/docker-engine-api.yaml:ro

  registry:
    image: registry:2
    container_name: local-registry
    ports:
      - "127.0.0.1:5001:5000"
    environment:
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: "Registry Realm"
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
    volumes:
      - local-registry-volume-images:/var/lib/registry:rw
      - ./auth:/auth:rw
      # command to create the auth/htpasswd credentials :
      # docker run --rm --entrypoint htpasswd httpd:2 -Bbn admin password > auth/htpasswd
    restart: unless-stopped

volumes:
  local-registry-volume-images:
